In [1]:
import pandas as pd
import streamlit as st
import geopandas
import plotly.graph_objs as go

In [2]:
gj_file = open('data/arbeiterzeitung_1915.geojson')
az_1915_places = geopandas.read_file(gj_file)
# az_1915_places.set_crs('EPSG:4326')

In [3]:
az_1915_places

,mention,address,freq,geometry
0,Wien,"Wien, Österreich",4339.0,POINT (16.37250 48.20835)
1,London,"London, Greater London, England, United Kingdom",3068.0,POINT (-0.12765 51.50732)
2,Deutschland,Deutschland,2772.0,POINT (10.42345 51.08342)
3,Oesterreich,Österreich,1901.0,POINT (13.20000 47.20000)
4,Berlin,"Berlin, 10117, Deutschland",1674.0,POINT (13.38886 52.51704)
...,...,...,...,...
34625,Morvurg,None,1.0,None
34626,Militärhospital,"Militærhospitalet, Myntgata, Kvadraturen, Sent...",1.0,POINT (10.74363 59.90725)
34627,Rotekreuznieher#e,None,1.0,None
34628,"121 , im Hofe rechts",None,1.0,None
34629,Kicht,None,1.0,None

In [10]:
df = az_1915_places.dropna()
list_lat, list_long = [], []
for point in df['geometry']:
    lat = point.centroid.y
    long = point.centroid.x
    list_lat.append(lat)
    list_long.append(long)
#     print(point.centroid.y)
df['lat'] = list_lat
df['long'] = list_long

/home/nicolas/anaconda3/envs/spacewars/lib/python3.8/site-packages/geopandas/geodataframe.py:1322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)

In [11]:
df

,mention,address,freq,geometry,lat,long
0,Wien,"Wien, Österreich",4339.0,POINT (16.37250 48.20835),48.208354,16.372504
1,London,"London, Greater London, England, United Kingdom",3068.0,POINT (-0.12765 51.50732),51.507322,-0.127647
2,Deutschland,Deutschland,2772.0,POINT (10.42345 51.08342),51.083420,10.423447
3,Oesterreich,Österreich,1901.0,POINT (13.20000 47.20000),47.200000,13.200000
4,Berlin,"Berlin, 10117, Deutschland",1674.0,POINT (13.38886 52.51704),52.517037,13.388860
...,...,...,...,...,...,...
34618,Pöch,"Poch, Laurensberg, Aachen, Städteregion Aachen...",1.0,POINT (6.08569 50.79703),50.797031,6.085687
34620,nomien,"诺敏镇, 鄂伦春自治旗, 呼伦贝尔市, 内蒙古自治区, 中国",1.0,POINT (123.75412 49.21675),49.216754,123.754123
34622,Schmalzhofgasse 12,"12, Schmalzhofgasse, Obere Windmühle, KG Maria...",1.0,POINT (16.34680 48.19577),48.195771,16.346802
34624,V . Bechte,"Propst-Bechte-Platz, Jülich, Kreis Düren, Nord...",1.0,POINT (6.35566 50.92571),50.925706,6.355659
34626,Militärhospital,"Militærhospitalet, Myntgata, Kvadraturen, Sent...",1.0,POINT (10.74363 59.90725),59.907255,10.743626

In [4]:
lat_lon_dict1 = {point.y: point.x for point in az_1915_places.geometry[:100].centroid if point is not None}
lat_lon_dict2 = {point.y: point.x for point in az_1915_places.geometry[101:200].centroid if point is not None}
lat_lon_df = pd.DataFrame(lat_lon_dict1.items(), columns=['lat', 'lon'])

<ipython-input-4-2e74ad004e11>:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  lat_lon_dict1 = {point.y: point.x for point in az_1915_places.geometry[:100].centroid if point is not None}
<ipython-input-4-2e74ad004e11>:2: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  lat_lon_dict2 = {point.y: point.x for point in az_1915_places.geometry[101:200].centroid if point is not None}

In [5]:
lat_lon_df

          lat        lon
0   48.208354  16.372504
1   51.507322  -0.127647
2   51.083420  10.423447
3   47.200000  13.200000
4   52.517037  13.388860
..        ...        ...
89  45.757814   4.832011
90  48.210691  16.324136
91  52.420923  13.109688
92  48.279815  16.412135
93  48.214955  16.302153

[94 rows x 2 columns]